.project-container{
    margin: 40px auto 0;
    width: 570px;
    font-family: 'Helvetica', sans-serif;
}

.input-header {
    font-weight: 200;
    text-align: center;
}

.input-group {
    width: 80%;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;
}

select {
    cursor: pointer;
}

select:hover {
    cursor: pointer;
}

#input-text {
    display: block;
    margin: 30px auto;
    width: 80%;
    height: 200px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 10px #ccc;
    font-weight: 400;
}

#input-submit {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
